/* nav start */
.nav {
  position: relative;
}

li.box-wrap {
  position: absolute;
  bottom: 20px;
}

#date-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.date-wrap {
  display: flex;
  align-items: center;
}

#today {
  font-size: 24px;
  font-weight: bold;
}

#day,
#date,
#months,
#year {
  margin-right: 5px; /* 각 날짜 요소 사이에 간격을 추가 */
  font-size: 14px;
  font-weight: 400;
}
