* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}
