@font-face {
  font-family: "Noto Sans", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: inherit;
}

body {
  background-color: #f5f5f5;
  position: relative;
  font-family: "Noto Sans";
}

.container {
  max-width: 1520px;
  min-height: 950px;
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
}

.inner {
  max-width: 1100px;
  width: 100%;
  padding-top: 90px;
  margin: 0 auto;
}

.taskModal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
  opacity: 0;
  transition: all 0.25s ease-out;
}
.taskModal {
  max-width: 500px;
  width: 100%;
  /* height:500px; */
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.taskModal-titleBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
.taskModal-titleBox h4.task-dash-title {
  margin-bottom: 0;
}
.taskModal-titleBox button {
  font-size: 20px;
  color: #333b69;
}
.taskModal span {
  font-size: 15px;
  display: block;
  margin-bottom: 10px;
}
.taskModal-contentBox .task-inputArea {
  width: 100%;
  margin-bottom: 15px;
}
.taskModal-categoryBox {
  margin-bottom: 15px;
}
.taskModal-innerBox {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.taskModal-categoryBox ul {
  max-width: 150px;
  width: 100%;
  border: 1px solid #dfeaf2;
}
.taskModal-categoryBox ul li {
  padding: 13.5px 10px;
  font-size: 16px;
}
.taskModal-categoryBox ul li:hover {
  background-color: #9e78cf;
  color: white;
}
.taskModal-btnBox {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.taskModal-btnBox button {
  padding: 7px 0;
  border-radius: 5px;
  width: 49%;
}
.taskModal-btnBox button.taskModal-cancel {
  border: 1px solid #dfeaf2;
}
.taskModal-btnBox button.taskModal-confirm {
  background-color: #9e78cf;
  color: white;
}

/* nav start */
.nav {
  width: 20%;
  padding-top: 100px;
  padding-left: 1em;
  display: block;
  border-right: 1px solid #f3f6fe;
}

.nav li {
  padding: 10px 0;
  color: #b1b1b1;
  position: relative;
}
.nav li a {
  color: #b1b1b1;
}

.nav li > i {
  margin-right: 5px;
}

.nav li.active,
.nav li.active a {
  color: #987aca;
  font-weight: bold;
}
/* #diary-main .nav li.active::before {
  content: "";
  position: absolute;
  left: -16px;
  top: 0;
  width: 4px;
  height: 100%;
  background: #9e78cf;
  border: 1px solid #9e78cf;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
} */
.nav li.active::before {
  content: "";
  position: absolute;
  left: -28px;
  top: 0;
  width: 5px;
  height: 100%;
  background: #9e78cf;
  border: 1px solid #9e78cf;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* nav end */

/* main start */
main {
  width: 80%;
}

.main-container {
  display: flex;
  justify-content: space-between;
}

/* header start */
header {
  padding-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

header .logo {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

header .logo a {
  color: #363c67;
}

header .search-bar {
  background-color: #f5f7fa;
  max-width: 300px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 10px 30px;
}

header .search-bar::placeholder {
  text-align: center;
  color: #778dbb;
}

/* header end */

/* calender start */
.calendar {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 320px;
  width: 100%;
  margin-bottom: 20px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #f5f5f5;
}

.calendar-header button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.calendar-header #month-year {
  font-size: 18px;
  font-weight: bold;
}

.calendar-body {
  padding: 16px;
}

.calendar-weekdays,
.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
}

.calendar-weekdays div {
  font-weight: bold;
}

.calendar-weekdays div,
.calendar-days div {
  text-align: center;
  padding: 8px;
}

.calendar-days div {
  background-color: #e9e9e9;
  border-radius: 4px;
  cursor: pointer;
}

.calendar-days div.today {
  background-color: #9e78cf;
  color: white;
}

.calendar-days div.active {
  background-color: #9e78cf;
  color: white;
}

.prev-next-box {
  display: flex;
  max-width: 50px;
  width: 100%;
  justify-content: space-between;
}

/* calender end */

/* todo-dash-box start */
.todo-dash-box {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 320px;
  width: 100%;
  padding: 16px;
}

.todo-dash-box ul {
  padding: 0;
  margin-bottom: 10px;
}

.todo-dash-box ul li img {
  width: 30px;
  margin-right: 5px;
}

.todo-dash-box ul li h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}

.todo-dash-box ul li.todo-dash-title {
  display: flex;
}

.todo-dash-box ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}

.todo-dash-box ul li:nth-child(1) {
}

.todo-dash-box ul li > div {
  display: flex;
  align-items: center;
}

.todo-dash-box ul li > div div.state-box {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: skyblue;
  margin: 0 5px;
}

#month {
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin-bottom: 1em;
}

/* todo-dash-box end */

/* task-dash-box start */
.task-dash-box {
  width: 100%;
  margin-left: 50px;
}

.task-dash-title {
  font-size: 20px;
  font-weight: bold;
  color: #333b69;
  display: block;
  /* margin-bottom: 15px; */
}

.task-inputArea {
  height: 50px;
  text-indent: 10px;
  width: 90%;
  border: 1px solid #dfeaf2;
  border-radius: 10px;
  outline: none;
}

.task-inputArea::placeholder {
  color: #8ba3cb;
}

.task-inputArea:focus {
  box-shadow: 0 2px 10px 0 rgba(0, 123, 255, 0.2);
}

.add-task-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.task-addBtn {
  height: 50px;
  width: 50px;
  border: none;
  background-color: #9e78cf;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}

.task-dash-optionBox {
  width: 100%;
  position: relative;
  margin-bottom: 65px;
}

.task-dash-option {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 7px;
  position: absolute;
  right: 0;
  outline: none;
  /* margin-bottom:50px; */
}

/* task-dash-cardBox start */
/* .task-dash-cardBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  height: 130px;
} */

.task-dash-cardBox {
  display: grid;
  grid-template-columns: 1.5fr 2.5fr 2.5fr;
  gap: 30px;
  margin-bottom: 30px !important;
  height: 130px;
}

.card-titleBox {
  background-color: #f87777;
  padding: 10px 15px;
  border-radius: 10px;
  text-align: center;
  max-width: 150px;
  width: 100%;
  height: 100%;
  /* height: 130px; */
}

.cardTitle {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.card-titleNumber {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.cardContents {
}

.card-contentBox {
  max-width: 250px;
  width: 100%;
  display: flex;
  padding: 20px 15px 20px 20px;
  border-radius: 10px;
  justify-content: space-between;
  height: 100%;
}

.alert {
  max-width: 250px;
  width: 100%;
  display: flex;
  padding: 20px 15px 20px 20px;
  border-radius: 10px;
  justify-content: space-between;
  height: 100%;
  background-color: #f0f0f0;
}

.cardIcon-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.contentsTitle {
  font-weight: bold;
  display: block;
}

.contentsSub {
  font-size: 11px;
  margin-top: 10px;
}

.contentsDeadline {
  font-size: 13px;
}

.cardColor-yellow {
  background-color: #ffe5a5;
}

.cardColor-gray {
  background-color: #f0f0f0;
}

.cardColor-green {
  background-color: #c7ffa5;
}

.cardColor-violet {
  background-color: #f8a5ff;
}

.cardColor-skyblue {
  background-color: #64e4dc;
}

/* task-dash-cardBox end */

.task-diary-titleBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.task-diary-titleBox span {
  color: #333b69;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.task-diary-titleBox span:hover {
  color: #987aca;
}

.dash-diary-tableBox {
  border: 1px solid #dfeaf2;
  padding: 1em;
  border-radius: 10px;
}
.dash-diary-tableBox .task-dash-optionBox {
  margin-bottom: 20px;
}
.diary-dash-option {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 7px;
  /* position: absolute; */
  /* right: 0; */
  outline: none;
}

table {
  width: 100%;
}
.table-thead {
  width: 100%;
}
.fa-sort {
  font-size: 12px;
}
.table-thead tr {
  width: 100%;
  display: bock;
  /* margin-bottom:10px; */
  border-bottom: 1px solid #dfeaf2;
}
.table-thead tr th {
  padding-bottom: 10px;
}
.table-thead tr th:nth-child(1) {
  width: 80%;

  /* background-color:red; */
}
.table-thead tr th:nth-child(2) {
  width: 20%;
  /* background: blue; */
}
.table-tbody tr td {
  font-size: 14px;
  padding: 10px 0;
  border-bottom: 1px solid #dfeaf2;
}
.table-tbody tr td:last-child {
}
/* task-dash-box end */

@media all and (max-width: 1260px) {
  .inner {
    max-width: 900px;
  }
  .task-dash-cardBox {
    height: 120px;
  }
  .card-titleBox {
    max-width: 125px;
  }
  .card-contentBox {
    max-width: 200px;
  }
  .cardTitle,
  .contentsTitle {
    font-size: 12px;
  }
  .contentsDeadline {
    font-size: 10px;
  }
  .card-titleNumber {
    font-size: 24px;
  }
  .calendar-body {
    padding: 10px;
  }
  .calendar-header {
    padding: 10px;
    font-size: 13px;
  }
  .calendar-header button {
    font-size: 13px;
  }
  .prev-next-box {
    max-width: 30px;
  }
  .calendar-weekdays div,
  .calendar-days div {
    font-size: 13px;
  }
  #month {
    font-size: 14px;
    margin-bottom: 0.5em;
  }
  .todo-dash-box ul li h3 {
    font-size: 14px;
  }
  .todo-dash-box ul li img {
    width: 25px;
  }
  .todo-dash-box ul li {
    font-size: 12px;
    padding: 7px 0;
  }
  .task-dash-title {
    font-size: 18px;
  }
  .task-diary-titleBox {
    margin-bottom: 0.5em;
  }
  .task-dash-option {
    font-size: 12px;
  }
  .table-tbody tr td {
    font-size: 12px;
  }
  .diary-dash-option {
    font-size: 12px;
  }
  .table-thead tr {
    font-size: 14px;
  }
  .task-dash-cardBox {
    margin-bottom: 15px;
  }
  .task-dash-optionBox {
    margin-bottom: 50px;
  }
}

@media all and (max-width: 1024px) {
  .container {
    /* padding-left:20%; */
  }
  .inner {
    max-width: 700px;
  }
  .main-container .calendar {
    max-width: none;
    width: 45%;
    margin-bottom: 0;
    height: 300px;
  }
  .main-container {
    display: block;
  }
  .calendar-body {
    /* padding-top:30px; */
  }
  .main-container .calender-dash-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  .todo-dash-box {
    max-width: none;
    width: 45%;
  }
  .task-dash-box {
    margin-left: 0;
  }
  header {
    margin-bottom: 30px;
    position: relative;
  }
  header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card-titleBox {
    max-width: 150px;
    padding: 20px 15px 20px 20px;
  }
  .card-contentBox {
    max-width: 230px;
  }
  .pl {
    /* width:204.8px; */
    width: 20%;
    /* height:100vh; */
    /* background-color:blue; */
  }
  .nav {
    /* width:204.8px; */
    position: fixed;
    height: 100%;

    /* width:100%; */
  }
  .nav li {
    font-size: 13px;
  }
}

@media all and (max-width: 940px) {
  .inner {
    max-width: 550px;
  }
  .main-container .calendar-weekdays div,
  .calendar-days div {
    padding: 4px;
  }
  .main-container .calendar {
    height: 300px;
  }
}

@media all and (max-width: 768px) {
  .pl {
    display: none;
  }
  .inner {
    max-width: 650px;
  }
  .main-container .calender-dash-box {
    display: block;
  }
  .main-container .calendar-weekdays div,
  .calendar-days div {
    padding: 10px 4px;
  }
  .main-container .calendar {
    margin-bottom: 20px;
    height: auto;
  }
  .main-container .calendar,
  .todo-dash-box {
    width: 100%;
  }
  .main-container .calendar-header {
    font-size: 16px;
  }
  #month {
    font-size: 20px;
  }
  .todo-dash-box ul li img {
    width: 40px;
  }
  .todo-dash-box ul li h3 {
    font-size: 18px;
  }
  .todo-dash-box ul li {
    font-size: 14px;
  }
  .card-contentBox {
    display: block;
  }
  .cardIcon-box {
    flex-direction: unset;
    justify-content: space-around;
  }
  .task-dash-cardBox {
    height: unset;
  }
  .card-titleBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card-titleBox {
    height: 151px;
  }
  .contentsDeadline {
    display: block;
    margin-bottom: 20px;
  }
  .table-tbody tr td {
    font-size: 11px;
  }
}

@media all and (max-width: 500px) {
  .taskModal {
    max-width: 420px;
  }
}
