/* Nav Css */
/* nav 기본 스타일 */
.nav {
  width: 40% !important;
  z-index: 999;
  transition: transform 0.3s ease;
}

.nav .close-menu {
  color: #b1b1b1;
  position: absolute;
  top: -30px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
}

/* Task css */
.completed {
  text-decoration: line-through;
  color: gray;
}

.form-group {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto 50px;
}

.form-group .open-menu {
  position: absolute;
  left: 0;
}

.form-group .add-button {
  position: absolute;
  right: 0;
  color: #000;
  font-size: 17px;
  cursor: pointer;
  float: left;
}

.form-group .add-button:hover {
  color: #8359ba;
}

.task-todo {
  width: 100%;
  margin: 0 auto 40px;
  padding: 20px;
  border: 1px solid #dfeaf2;
  border-radius: 10px;
}

.task-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-title {
  width: 80%;
  font-size: 24px;
  margin-bottom: 15px;
}

.task-table {
  width: 100%;
  border-top: none;
}

.task-table {
  border-top: none;
}

.task-todo .task-table thead tr,
.task-todo .task-table tr {
  width: 100%;
  height: 54px;
  padding: 10px;
  display: flex;
  justify-self: space-between;
  align-items: center;
  font-weight: 400;
  border-bottom: 1px solid #dfeaf2;
}

.task-todo .task-table thead tr th,
.task-todo .task-table tr td {
  height: 54px;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.task-todo .task-table thead tr .favorite,
.task-todo .task-table tr td:nth-child(1) {
  flex: 0 0 15%;
}

.task-todo .task-table thead tr .content,
.task-todo .task-table tr td:nth-child(2) {
  flex: 0 0 45%;
}
.task-todo .task-table thead tr .category,
.task-todo .task-table tr td:nth-child(3) {
  flex: 0 0 15%;
}

.task-todo .task-table thead tr .deadline,
.task-todo .task-table tr td:nth-child(4) {
  flex: 0 0 15%;
}

.task-todo .task-table thead tr .task-complete,
.task-todo .task-table tr td:nth-child(5),
.task-todo .task-table thead tr .task-edit,
.task-todo .task-table tr td:nth-child(6),
.task-todo .task-table thead tr .task-delete,
.task-todo .task-table tr td:nth-child(7),
.task-todo .task-table tr td:nth-child(8) {
  flex: 0 0 3.33333%;
}

.task-todo .task-table tr td:nth-child(4) {
  font-size: 14px;
}

.task-todo .task-table tr td:nth-child(5) i,
.task-todo .task-table tr td:nth-child(6) i,
.task-todo .task-table tr td:nth-child(7) i,
.task-todo .task-table tr td:nth-child(8) i {
  font-size: 14px;
}

.task-todo .task-table tr td:nth-child(3) span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 30px;
  font-size: 12px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px 0px rgba(124, 141, 181, 0.12);
}

.task-todo .task-table tr td .fill-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #9e78cf;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}

.task-todo .task-table tr td .fill-button:hover {
  background-color: #8359ba;
}

.text-center,
.no-task {
  display: flex;
  justify-content: center !important;
  width: 100% !important;
  font-size: 24px;
  font-weight: 500;
  color: #8ba3cb;
}

/* IE */
select::-ms-expand {
  display: none;
}
select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.task-dash-optionBox {
  width: 20%;
  position: relative;
}

.task-dash-optionBox select {
  display: none;
}

.select-selected {
  background-color: #fff;
}

/* 선택 요소 내부의 화살표 디자인 */
.select-selected::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #000 transparent transparent transparent;
}

/* 선택 상자가 열려있는 경우 화살표 디자인 */
.select-selected.select-arrow-active::after {
  top: 7px;
  border-color: transparent transparent #000 transparent;
}

/* 옵션 커스터마이징 선택된 항목도 포함 */
.select-items div,
.select-selected {
  color: #000;
  padding: 8px 16px;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items,
.select-selected {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 7px;
  position: absolute;
  background-color: #fff;
  outline: none;
  z-index: 99;
  overflow: auto;
  width: 120px;
  max-width: 120px;
  right: 0; /* 오른쪽 끝에 위치하도록 설정 */
  left: auto; /* 왼쪽 설정 해제 */
}

/* 선택상자 닫혔을 때 항목 숨김 */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.054);
}

/** 1200px 이한 경우*/
@media screen and (max-width: 1200px) {
  .task-todo .task-table tr td .fill-button {
    width: 20px;
    height: 20px;
  }

  .task-todo .task-table tr td:nth-child(5) i,
  .task-todo .task-table tr td:nth-child(6) i,
  .task-todo .task-table tr td:nth-child(7) i,
  .task-todo .task-table tr td:nth-child(8) i {
    font-size: 10px;
  }
}

/** 타블렛 1023px 이하인 경우 */
@media screen and (max-width: 1023px) {
  .task-title {
    font-size: 20px;
  }

  .task-todo .task-table thead tr th,
  .task-todo .task-table tr td {
    height: 32px;
    font-size: 14px;
  }

  .task-todo .task-table tr td:nth-child(4) {
    font-size: 12px;
  }

  .task-todo .task-table tr td .fill-button {
    width: 18px;
    height: 18px;
  }

  .task-todo .task-table tr td:nth-child(5) i,
  .task-todo .task-table tr td:nth-child(6) i,
  .task-todo .task-table tr td:nth-child(7) i,
  .task-todo .task-table tr td:nth-child(8) i {
    font-size: 10px;
  }

  .task-todo .task-table tr td:nth-child(3) span {
    width: 60px;
    height: 25px;
    font-size: 10px;
  }
}

/* 890px 이하인 경우 */
@media screen and (max-width: 900px) {
  .task-todo .task-table tr td .fill-button {
    width: 15px;
    height: 15px;
  }

  .task-todo .task-table tr td:nth-child(5) i,
  .task-todo .task-table tr td:nth-child(6) i,
  .task-todo .task-table tr td:nth-child(7) i,
  .task-todo .task-table tr td:nth-child(8) i {
    font-size: 8px;
  }

  .form-group .add-button {
    font-size: 15px;
  }
}

/** 모바일 767px 이하인 경우 */
@media screen and (max-width: 767px) {
  /* nav 기본 숨김 */
  .nav.mobile {
    position: fixed;
    top: 0;
    left: -100%;
    width: 20%;
    height: 100%;
    background-color: #fff;
    transition: left 0.3s ease;
    z-index: 999;
    overflow: auto; /* 스크롤 가능하게 */
  }

  /* nav 보임 */
  .nav.open {
    left: 0;
  }

  .task-title {
    font-size: 18px;
  }

  .task-todo .task-table thead tr th,
  .task-todo .task-table tr td {
    height: 25px;
  }

  .task-todo .task-table tr td .fill-button {
    width: 15px;
    height: 15px;
  }

  .task-todo .task-table tr td:nth-child(4) {
    font-size: 10px;
  }

  .task-todo .task-table tr td:nth-child(5) i,
  .task-todo .task-table tr td:nth-child(6) i,
  .task-todo .task-table tr td:nth-child(7) i,
  .task-todo .task-table tr td:nth-child(8) i {
    font-size: 10px;
  }
}

/* 623px 이하인 경우 */
@media screen and (max-width: 623px) {
  .form-group .add-button {
    font-size: 13px;
  }

  .task-todo .task-table tr td .fill-button {
    width: 12px;
    height: 12px;
  }

  .task-todo .task-table tr td:nth-child(4) {
    font-size: 6px;
  }

  .task-todo .task-table tr td:nth-child(5) i,
  .task-todo .task-table tr td:nth-child(6) i,
  .task-todo .task-table tr td:nth-child(7) i,
  .task-todo .task-table tr td:nth-child(8) i {
    font-size: 8px;
  }
  .task-todo .task-table thead tr .category,
  .task-todo .task-table tr td:nth-child(3) {
    display: none;
  }

  .task-todo .task-table thead tr .favorite,
  .task-todo .task-table tr td:nth-child(1) {
    flex: 0 0 20%;
  }

  .task-todo .task-table thead tr .content,
  .task-todo .task-table tr td:nth-child(2) {
    flex: 0 0 45%;
  }

  .task-todo .task-table thead tr .deadline,
  .task-todo .task-table tr td:nth-child(4) {
    flex: 0 0 20%;
  }

  .task-todo .task-table thead tr .task-complete,
  .task-todo .task-table tr td:nth-child(5),
  .task-todo .task-table thead tr .task-edit,
  .task-todo .task-table tr td:nth-child(6),
  .task-todo .task-table thead tr .task-delete,
  .task-todo .task-table tr td:nth-child(7),
  .task-todo .task-table tr td:nth-child(8) {
    flex: 0 0 5%;
  }

  .task-todo .task-table tr td:nth-child(4) {
    font-size: 10px;
  }

  .task-todo .task-table tr td .fill-button {
    width: 15px;
    height: 15px;
    margin-left: 3px;
  }

  .task-todo .task-table tr td:nth-child(5) i,
  .task-todo .task-table tr td:nth-child(6) i,
  .task-todo .task-table tr td:nth-child(7) i,
  .task-todo .task-table tr td:nth-child(8) i {
    font-size: 10px;
  }
}

/* 550px 이하인 경우 */
@media screen and (max-width: 550px) {
  .task-title {
    font-size: 18px;
  }

  .task-todo .task-table thead tr th,
  .task-todo .task-table tr td {
    font-size: 12px;
  }

  .task-todo .task-table thead tr .category,
  .task-todo .task-table tr td:nth-child(3) {
    display: none;
  }
}

/* 375px 이하인 경우 */
@media screen and (max-width: 375px) {
  .task-title {
    font-size: 16px;
  }

  .task-todo .task-table thead tr th,
  .task-todo .task-table tr td {
    font-size: 10px;
  }

  .task-todo .task-table tr td .fill-button {
    width: 15px;
    height: 15px;
    margin-left: 3px;
  }
}
